h1{
	color: #DCA13C;
	text-decoration-line: underline;
}
body{
		
	background-color: black;<!--we are giving this here because it's common for paragraph and heading. if we give under body it will come in both the place-->
	font-family: Trattatello;<!--if we give something in body it will change in full web page-->
	background-image: url("Picture.png");
	
		
}

p{
	background-color: #DCA13C;
	border-left: dotted;
	padding: 50px;
	color: white;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: ;
	word word-spacing: ;
	border-radius: 15px;<!-- to make the changes in the edge of the box like curve, square-->

}
.container
{
	color: #DCA13C ;
	text-decoration-line: underline;
}

.list
{
	border: 1px #DCA13C solid;
	color: white;
	border-radius: 15px;

}
.list ol
{
	list-style:none;
	list-style-image: url;<!--if it's loca image give imagename.filetype. if it's online image give from https and the full link-->
}

.f1
{
	color: white;
	padding: 20px;
}
.f1 label
{
    display: block;
    padding: 10px;
}

.f1 input[type="text"]{
     padding: 10px;
     width: 20%;<!--because of site responsiveness we are giving % insted of px for width-->
}

.f1 input[type="number"]{
     padding: 10px;
     width: 20%;
}
.f1 option{
     padding: 10px;
}
.f1 textarea{
     padding: 10px;
     width: 20%;
}

.f11
{
	padding-bottom: 1px;
}
.f12
{
	padding-bottom: 1px;
}
.f13
{
	padding-bottom: 1px;
}
.f14
{
	padding-bottom: 10px;
}
.button
{
	background-color: #DCA13C;
	padding: 10px;
	color: white;
	border:none;
}

.button:hover
{
	background-color: white;
	color: #DCA13C;<!--hover is user to change the color of the button-->
}
